/* Start Variables */
/* :root {
  --linear-gradient: rgba(4, 9, 30, 0.7);
  --main-color: #f44336;
  --section-padding: 100px;
  --color-p: #777;
  --main-transation: 0.5s;
  --line-height: 1.7;
  --box-color: #fae6e2;
} */
/* End Variables */

/* Start Global Rules */
/* * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
/* @media (min-width: 992px) {
  .container {
    width: 970px;
  }
} */
/* Large */
/* @media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}  */
/* End Global Rules */

/* Start Components */
/* .main-heading {
  text-align: center;
}
.main-heading h1 {
  margin: 0;
  font-weight: bold;
}
.main-heading p {
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
  color: var(--color-p);
} */
/* End Components */

/* Start Header */
header {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}
header .container {
  min-height: 97px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container img {
  width: 150px;
}
header .container .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav {
  flex: 1;
}
header .container .links > i,
header .container nav > i,
header .container nav ul i {
  display: none;
}
header .container .navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container .navbar ul li {
  position: relative;
  margin-left: 25px;
}
header .container .navbar ul li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  border-bottom: 2px solid var(--main-color);
  width: 0;
  transition: 1s;
}
header .container .navbar ul li:hover::after {
  width: 100%;
}
header .container .navbar ul li a {
  display: inline-block;
  padding: 0;
  text-align: center;
  font-size: 16px;
  color: white;
}
@media (max-width: 767px) {
  header .container img {
    width: 100px;
  }
  header .container .links > i {
    display: block;
    color: white;
    font-size: 18px;
  }
  header .container .navbar {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 200px;
    background-color: rgba(4, 9, 30, 0.3);
    padding: 20px 0;
    z-index: 2;
  }
  header .container .links:hover > i {
    display: none;
  }
  header .container .navbar {
    display: none;
  }
  header .container .links:hover .navbar {
    display: block;
  }
  header .container .navbar ul {
    display: block;
  }
  header .container .navbar ul li {
    display: block;
    margin: 20px 15px;
    padding-top: 10px;
    transition: var(--main-transation);
  }
  header .container .navbar ul li:not(:last-child) {
    padding-bottom: 10px;
  }
  header .container .navbar ul li:not(:last-child)::before {
    content: ""; /* ضروري لإنشاء العنصر */
    position: absolute;
    left: 0;
    top: 120%; /* لجعل الخط في منتصف المسافة بين العنصرين */
    transform: translateY(50%);
    width: 100%;
    height: 2px;
    background-color: #99999970;
  }
  header .container .navbar ul span {
    margin-right: 8px;
  }
  header .container .navbar > i {
    position: absolute;
    right: 15px;
    top: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    z-index: 3;
  }
  header .container .navbar ul li:hover {
    padding-left: 15px;
  }
  header .container nav > i,
  header .container nav ul i {
    display: inline-block;
  }
  header .container .navbar ul li::after {
    display: none;
  }
  /* 

 
    */
}
/* End Header */

.landing {
  min-height: 100vh;
  position: relative;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--linear-gradient);
}
.landing .text {
  text-align: center;
  color: white;
}
.landing .text .content {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing .text h1 {
  margin: 0;
  font-size: 62px;
}
.landing .text p {
  margin: 10px 0 40px;
  line-height: var(--line-height);
}
.landing .text .btn {
  display: inline-block;
  position: relative;
  border: 2px solid white;
  background: transparent;
  padding: 15px 34px;
  color: white;
  cursor: pointer;
  transition: 1s;
}
.landing .text .btn::before {
  content: "";
  background-color: white;
  width: 35px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: -20px;
}
.landing .text .btn::after {
  content: "";
  background-color: white;
  width: 35px;
  height: 2px;
  position: absolute;
  top: 50%;
  right: -20px;
}
.landing .text .btn:hover:before,
.landing .text .btn:hover:after {
  background-color: var(--main-color);
}
.landing .text .btn:hover {
  border: 1px solid var(--main-color);
  background: var(--main-color);
}
@media (max-width: 991px) {
  .landing .text .content {
    width: 70%;
  }
  .landing .text h1 {
    font-size: 40px;
  }
  .landing .text p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 18px;
  }
  .landing .text p {
    font-size: 14px;
  }
}

/* Start Courses */
.courses {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.courses .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
  justify-content: center;
}
.courses .box {
  text-align: center;
  margin: 0 10px;
  background-color: var(--box-color);
  padding: 20px 12px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: var(--main-transation);
}
.courses .box:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.courses .box h2 {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 10px;
}
.courses .box p {
  font-size: 14px;
  font-weight: 300;
  line-height: var(--line-height);
  color: var(--color-p);
}
/* End Courses */

/* Start Global Campus */
.campus {
  padding-bottom: var(--section-padding);
  position: relative;
}
.campus .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
  justify-content: center;
}
.campus .box {
  margin: 0 10px;
  position: relative;
  text-align: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}
.campus .box.london {
  background-image: url("../images/london.png");
}
.campus .box.newyork {
  background-image: url("../images/newyork.png");
}
.campus .box.washington {
  background-image: url("../images/washington.png");
}
.campus .box .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  font-weight: normal;
  text-transform: uppercase;
}
.campus .box:hover .text {
  opacity: 1;
  animation: bottom-to-left var(--main-transation) ease forwards;
}
.campus .box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e74e41;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: var(--main-transation);
}
.campus .box:hover::before {
  background-color: rgba(266, 0, 0, 0.7);
}
/* End Global Campus */

/* Start Our Facilities */
.facilities {
  padding-bottom: var(--section-padding);
}
.facilities .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
  justify-content: center;
}
.facilities .box img {
  max-width: 100%;
  border-radius: 10px;
}
.facilities .box {
  margin: 0 10px;
  border-radius: 10px;
  background-color: #7777771f;
}
.facilities .box .text {
  padding: 15px;
}
.facilities .box p {
  margin: 10px 0;
  line-height: var(--line-height);
  color: var(--color-p);
}
/* End Our Facilities */

/* Start Student Says */
.students {
  padding-bottom: var(--section-padding);
}
.students .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.students .box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 20px;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: var(--box-color);
  transition: var(--main-transation);
}
.students .box:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.students .box img {
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 20px;
  width: 55px;
  transition: var(--main-transation);
}
.students .box img:hover {
  transform: scale(1.3);
}
.students .box .content {
  padding-left: 50px;
}
.students .box .content p {
  font-size: 14px;
  line-height: 1.7;
  color: #777;
}
.students .box .content h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}
.students .box .content .star {
  font-size: 14px;
}
.students .box .star i {
  color: var(--main-color);
}
@media (max-width: 991px) {
  .main-heading h1 {
    font-size: 30px;
  }
  .students .container {
    flex-direction: column;
  }
  .students .box {
    width: 100%;
    margin-bottom: 30px;
  }
}
/* End Student Says */

/* Start Banner */
.banner {
  position: relative;
  background-image: url("../images/banner2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 450px;
  width: 90%;
  border-radius: 10px;
  margin: 0 auto 100px;
  overflow: hidden;
}
.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.banner .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  color: white;
  z-index: 2;
}
.banner .text h1 {
  margin-bottom: 50px;
  line-height: 1.5;
}
.banner .text .btn {
  display: inline-block;
  position: relative;
  border: 1px solid white;
  color: white;
  padding: 15px 40px;
  background: transparent;
  text-transform: uppercase;
  transition: var(--main-transation);
  cursor: pointer;
}
.banner .text .btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  width: 35px;
  height: 2px;
  background-color: white;
}
.banner .text .btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  width: 35px;
  height: 2px;
  background-color: white;
}
.banner .text .btn:hover::before,
.banner .text .btn:hover::after,
.banner .text .btn:hover {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
}
@media (max-width: 767px) {
  .banner .text h1 {
    font-size: 16px;
  }
}
/* End Banner */

/* Start Footer */
.footer {
  background-color: #333;
  width: 100%;
  padding-bottom: 10px;
}
.footer .box {
  padding: 20px 0;
}
.footer .box h1 {
  font-size: 32px;
  color: white;
  text-align: center;
}
.footer .box p {
  color: #ccc;
  text-align: center;
  font-weight: normal;
  max-width: 600px;
  margin: auto;
  line-height: var(--line-height);
}
.footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  text-align: center;
}
.footer .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 6px;
  background-color: white;
  margin: 0 10px;
  padding: 12px 18px;
  color: #333;
  transition: var(--main-transation);
}
.footer .social a:hover {
  background-color: var(--main-color);
  color: white;
  font-weight: 500;
}
.footer .social span {
  font-size: 16px;
}
.footer .social i {
  padding-right: 10px;
}
.footer .box h3 {
  padding-top: 10px;
  text-align: center;
  color: #ccc;
  font-size: 18px;
  font-weight: normal;
}
@media (max-width: 991px) {
  .footer .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    background-color: white;
    margin: 10px;
    padding: 12px 15px;
    color: #333;
    transition: var(--main-transation);
  }
  .footer .social i {
    padding-bottom: 10px;
  }
  .footer .social span {
    font-size: 16px;
  }
  .footer .box h3 {
    padding-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .footer .social {
    gap: 5px;
  }
  .footer .social a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  .footer .social i {
    padding: 0;
    font-size: 20px;
  }
  .footer .social span {
    display: none;
  }
  .footer .box h3 {
    padding-top: 0;
  }
}
/* End Footer */

/* Start Animation */
@keyframes bottom-to-left {
  0% {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
/* End Animation */
